*{margin: 0;padding: 0}
ul,li{list-style: none;}


#all{width: 300px;height: 300px;margin: 30px auto;border:1px solid #ccc;background-color: #fefefe;color: #444;border-radius: 15px;padding: 20px 0 15px 20px;}
.allul{}
.newsA{line-height: 30px;height: 30px;}