*{margin: 0;padding: 0;}
ul,li{list-style:none;}
img{border:0;}
body{font:12px/1.5 Tahoma,Helvetica,Arial,'\5b8b\4f53',sans-serif;}

/*标题*/
#header{width: auto;z-index: 10000;background-color: #f5f5f5;border-bottom: 1px solid #eee;position: relative;}
#headermid{width: auto;margin: 0 auto;height: 35px;background-color: #f5f5f5;-webkit-backface-visibility:hidden;min-width: 990px;max-width: 1190px;}

#headermidLeft{display: inline;float: left;width: 251px;height: 35px;}
#logininfo{display: inline;float:left;width: 103px;height: 35px;}
.menubdA{z-index: 10002;position: relative;padding: 0 6px;height: 35px;line-height: 35px;overflow: hidden;}
.menubdA a{display: inline;float: left;margin-right: 7px;font-size: 12px;color: #6c6c6c;text-decoration: none;}
.vipicon{margin-top: 11px;width: 14px;height: 14px;background-image: url("../images/vipicon.gif");background-repeat: no-repeat;}
.xia{display: block;float: left;width: 12px;height: 6px;line-height: 6px;overflow: hidden;margin-top: 16px;background-image: url("../images/ico.png");background-repeat: no-repeat;background-position: -5px 0;}

.menubdAmore{z-index: 10001;position: relative;display: block;margin-top: -1px;}
.menubdAmorepanel{width: 248px;position: absolute;left: 0;top: 0;padding:8px;line-height: normal;border: 1px solid #eee;background-color: #fff;}
.user-avatar{display: inline;float: left;margin-right: 10px;color: #3c3c3c;text-decoration: none;}
.userinfo{height: 80px;overflow: hidden;}
.userinfo p{height: 20px;line-height: 20px;overflow: hidden;}
.userinfo p a{color: #3c3c3c;text-decoration: none;font-weight: normal;}
.userinfo p a:hover{color: #f40;}
.useroperate{text-align: right;height: 20px;line-height: 20px;overflow: hidden;}
.useroperate a{color: #3c3c3c;text-decoration: none;}
.useroperate a:hover{color: #f40;}
.vipicon1{width: 14px;display: inline;float: left;margin: 3px 5px 3px 0;height: 14px;background-image: url("../images/vipicon.gif");background-repeat: no-repeat;color: #3c3c3c;}

#usermedal{margin-top: 10px;padding-top: 10px;height: 36px;border-top: 1px solid #eee;overflow: hidden;}
.usermedallogo{position: relative;display: inline;float: left;width: 205px;height: 36px;overflow: hidden;}
#usermedalcont{position: absolute;top:0;left:0;overflow: hidden;transition:.3s ease-in;}
#usermedalcont a{display: inline;float: left;margin-right: 5px;width: 36px;height: 36px;color: #3c3c3c;text-decoration: none;}

#getmessage{display: inline;float: left;text-align: left;width: 69px;height: 35px;}
.getmenu{display: inline;float: left;width: 69px;height: 35px;}
.getxinfeng{z-index: 10002px;position: relative;padding: 0 6px;height: 35px;line-height: 35px;overflow: hidden;}
.getlogo{float: left;zoom:1;}
.getinfo{margin-right: 5px;color: #9c9c9c;font-family: global-iconfont;font-size: 12px;font-style: normal;-webkit-font-smoothing:antialiased;background-image: url("../images/xinfeng.jpeg");background-repeat: no-repeat;}
.getnewsword{}

.getxinfengmore{position: relative;z-index: 10001;display: none;margin-top: -1px;}
.getxinfengpanel{width: 288px;border: 1px solid #EEE;border-top: 0;position: absolute;background-color: #fff;box-shadow: 1px 1px 2px #ddd;z-index: 10000000000;}
.getpanelhead{height: 37px;line-height: 37px;position: relative;text-align: center;border-bottom: 1px solid #EEE;}
.getpanelheadtitle{font-size: 14px;color: #222;}
.getpanelbody{}
.getpanelbodyerror{padding: 0 35px;}
.geterrornotice{text-align: center;font-size: 14px;margin: 30px 0 10px;}
.geterrorpic{background-image: url("../images/beihou.png");background-repeat: no-repeat;background-position: center center;width: 218px;height: 140px;margin: 0 auto}
.getpanelfoot{height: 32px;border-top: 1px solid #EEE;position: relative;}
.getpanelfootbtn1{background-image: url("../images/shezhitubiao.png");background-repeat: no-repeat;background-position: 0 -132px;display: block;text-indent: -200px;overflow: hidden;left: 17px;width: 12px;height: 12px;position: absolute;top: 10px;}
.getpanelfootbtn2{background-image: url("../images/shezhitubiao.png");background-repeat: no-repeat;background-position: 0 -145px;display: block;text-indent: -200px;overflow: hidden;left: 17px;width: 12px;height: 12px;position: absolute;top: 10px;left: 37px;}
.getpanelfootbtn{line-height: 100%;position: absolute;top: 9px;right: 17px;text-align: left;}
.cheakall{color: #696969;text-decoration: none;}
.cheakall:hover{color: #f40;}

#menumobile{display: block;float: left;width:79px;height: 35px; }
.menubdA a{display: inline;float: left;margin-right: 7px;font-size: 12px;color: #6c6c6c;}
.menubdA a:hover{color: #f40}

#headermidRight{display: block;float: right;width: 657px;height: 35px;}
.menuhome{display: inline;float: left;}
.menuhd{z-index: 10002;position: relative;padding: 0 6px;height: 35px;line-height: 35px;overflow: hidden;}
.menuhd a{display: inline;float: left;margin-right: 7px;font-size: 12px;text-decoration: none;color: #6c6c6c;}
.h{color: #f22e00!important;text-decoration: none;}

.mytaobao{display: inline;float: left;}
#taobao:hover{color: #f40;}
.gouwuche{width: 91px;height: 35px;display: inline;float: left;}
#gouwu:hover{color: #f40;}
.shoucangjia{width: 84px;height: 35px;display: inline;float: left;}
#shoucang:hover{color: #f40;}
.shangpin{width: 67px;height: 35px;display: inline;float: left;}
.fenlei:hover{color: #f40;}
.line{display:inline;float: left;height: 35px;line-height: 35px;padding: 0 5px;font-style: normal;color: #ddd;}
.maijia{width: 79px;height: 35px;display: inline;float: left;}
#zhongxin:hover{color: #f40;}
.lianxi{width: 67px;height: 35px;display: inline;float: left;}
#kefu:hover{color: #f40;}
.wangzhan{width: 96px;height: 35px;display: inline;float: left;}
#daohang:hover{color: #f40;}


/*我的淘宝*/
#headerB{height: 36px;background-color: #ff4401;padding: 12px 0;position: relative;z-index: 5;border-bottom: 1px #e7e7e7 solid;display: block; }
.article{margin: 0 auto;max-width: 1190px;min-width: 860px;}
.Blogo{float: left;position: relative;overflow: hidden;width: 16%;height: 35px;}
.Bnav{}
#Bnavside{}