*{margin: 0;padding: 0;}
ul,li{list-style:none;}
img{border:0;}
body{font:12px/1.5 Tahoma,Helvetica,Arial,'\5b8b\4f53',sans-serif;}

/*标题*/
#header{width: auto;z-index: 10000;background-color: #f5f5f5;border-bottom: 1px solid #eee;position: relative;}
#headermid{width: auto;margin: 0 auto;height: 35px;background-color: #f5f5f5;-webkit-backface-visibility:hidden;min-width: 990px;max-width: 1190px;}

#headermidLeft{display: inline;float: left;width: 251px;height: 35px;}
#logininfo{display: inline;float:left;width: 103px;height: 35px;}
.menubdA{z-index: 10002;position: relative;padding: 0 6px;height: 35px;line-height: 35px;overflow: hidden;}
.menubdA a{display: inline;float: left;margin-right: 7px;font-size: 12px;color: #6c6c6c;text-decoration: none;}
.menubdB{z-index: 10002;position: relative;padding: 0 6px;height: 35px;line-height: 35px;overflow: hidden;}
.menubdB a{display: inline;float: left;margin-right: 7px;font-size: 12px;color: #6c6c6c;text-decoration: none;}
.menubdB a:hover{color: #f40;}

.vipicon{margin-top: 11px;width: 14px;height: 14px;background-image: url("../images/vipicon.gif");background-repeat: no-repeat;}
.xia{display: block;float: left;width: 12px;height: 6px;line-height: 6px;overflow: hidden;margin-top: 16px;background-image: url("../images/ico.png");background-repeat: no-repeat;background-position: -5px 0;}

.menubdAmore{z-index: 10001;position: relative;display: block;margin-top: -1px;}
.menubdAmorepanel{width: 248px;position: absolute;left: 0;top: 0;padding:8px;line-height: normal;border: 1px solid #eee;background-color: #fff;}
.user-avatar{display: inline;float: left;margin-right: 10px;color: #3c3c3c;text-decoration: none;}
.userinfo{height: 80px;overflow: hidden;}
.userinfo p{height: 20px;line-height: 20px;overflow: hidden;}
.userinfo p a{color: #3c3c3c;text-decoration: none;font-weight: normal;}
.userinfo p a:hover{color: #f40;}
.useroperate{text-align: right;height: 20px;line-height: 20px;overflow: hidden;}
.useroperate a{color: #3c3c3c;text-decoration: none;}
.useroperate a:hover{color: #f40;}
.vipicon1{width: 14px;display: inline;float: left;margin: 3px 5px 3px 0;height: 14px;background-image: url("../images/vipicon.gif");background-repeat: no-repeat;color: #3c3c3c;}

#usermedal{margin-top: 10px;padding-top: 10px;height: 36px;border-top: 1px solid #eee;overflow: hidden;}
.usermedallogo{position: relative;display: inline;float: left;width: 205px;height: 36px;overflow: hidden;}
#usermedalcont{position: absolute;top:0;left:0;overflow: hidden;transition:.3s ease-in;}
#usermedalcont a{display: inline;float: left;margin-right: 5px;width: 36px;height: 36px;color: #3c3c3c;text-decoration: none;}

#getmessage{display: inline;float: left;text-align: left;width: 69px;height: 35px;}
.getmenu{display: inline;float: left;width: 69px;height: 35px;}
.getxinfeng{z-index: 10002px;position: relative;padding: 0 6px;height: 35px;line-height: 35px;overflow: hidden;}
.getlogo{float: left;zoom:1;}
.getinfo{margin-right: 5px;color: #9c9c9c;font-family: global-iconfont;font-size: 12px;font-style: normal;-webkit-font-smoothing:antialiased;background-image: url("../images/xinfeng.jpeg");background-repeat: no-repeat;}
.getnewsword{}

.getxinfengmore{position: relative;z-index: 10001;display: none;margin-top: -1px;}
.getxinfengpanel{width: 288px;border: 1px solid #EEE;border-top: 0;position: absolute;background-color: #fff;box-shadow: 1px 1px 2px #ddd;z-index: 10000000000;}
.getpanelhead{height: 37px;line-height: 37px;position: relative;text-align: center;border-bottom: 1px solid #EEE;}
.getpanelheadtitle{font-size: 14px;color: #222;}
.getpanelbody{}
.getpanelbodyerror{padding: 0 35px;}
.geterrornotice{text-align: center;font-size: 14px;margin: 30px 0 10px;}
.geterrorpic{background-image: url("../images/beihou.png");background-repeat: no-repeat;background-position: center center;width: 218px;height: 140px;margin: 0 auto}
.getpanelfoot{height: 32px;border-top: 1px solid #EEE;position: relative;}
.getpanelfootbtn1{background-image: url("../images/shezhitubiao.png");background-repeat: no-repeat;background-position: 0 -132px;display: block;text-indent: -200px;overflow: hidden;left: 17px;width: 12px;height: 12px;position: absolute;top: 10px;}
.getpanelfootbtn2{background-image: url("../images/shezhitubiao.png");background-repeat: no-repeat;background-position: 0 -145px;display: block;text-indent: -200px;overflow: hidden;left: 17px;width: 12px;height: 12px;position: absolute;top: 10px;left: 37px;}
.getpanelfootbtn{line-height: 100%;position: absolute;top: 9px;right: 17px;text-align: left;}
.cheakall{color: #696969;text-decoration: none;}
.cheakall:hover{color: #f40;}

#menumobile{display: block;float: left;width:79px;height: 35px; }
.menubdA a{display: inline;float: left;margin-right: 7px;font-size: 12px;color: #6c6c6c;}
.menubdA a:hover{color: #f40}

#headermidRight{display: block;float: right;width: 657px;height: 35px;}
.menuhome{display: inline;float: left;}
.menuhd{z-index: 10002;position: relative;padding: 0 6px;height: 35px;line-height: 35px;overflow: hidden;}
.menuhd a{display: inline;float: left;margin-right: 7px;font-size: 12px;text-decoration: none;color: #6c6c6c;}
.h{color: #f22e00!important;text-decoration: none;}

.mytaobao{display: inline;float: left;}
.menuhdr1{z-index: 10001;position: relative;display: none;margin-top: -1px;}
.menuhdr1panel{padding: 8px 0;position: absolute;left:0;top: 0;line-height: normal;border: 1px solid #eee; background-color: #fff;}
.menuhdr1panel a{text-decoration: none;color: #6c6c6c;display: block;padding: 0 5px;line-height: 28px;white-space: nowrap;}

#taobao:hover{color: #f40;}
.gouwuche{width: 91px;height: 35px;display: inline;float: left;}
#gouwu:hover{color: #f40;}
.menuhdr2{z-index: 10001;position: relative;display: none;margin-top: -1px; }
.menuhdr2panel{background-color: #fff;width: 296px;line-height: 20px;min-height: 40px;position: absolute;left: 0;top: 0;padding: 8px;border: 1px solid #eee;}
.mincartft{line-height: 20px;text-align:right;}
.mincartft p{margin-top: 10px;}
.mincartft p a{display: inline-block;vertical-align: middle;zoom:1;padding: 0 10px;height: 25px;line-height: 25px;color: #fff;background-color: #f40;border-radius: 2px;text-decoration: none;}

.shoucangjia{width: 84px;height: 35px;display: inline;float: left;}
#shoucang:hover{color: #f40;}
.menuhdr3{z-index: 10001;position: relative;display: none;margin-top: -1px; }
.menuhdr3panel{padding: 8px 0;position: absolute;left:0;top: 0;line-height: normal;border: 1px solid #eee; background-color: #fff;width: 86px;}
.menuhdr3panel a{text-decoration: none;color: #6c6c6c;display: block;padding: 0 5px;line-height: 28px;white-space: nowrap;}

.shangpin{width: 67px;height: 35px;display: inline;float: left;}
.fenlei:hover{color: #f40;}
.line{display:inline;float: left;height: 35px;line-height: 35px;padding: 0 5px;font-style: normal;color: #ddd;}
.maijia{width: 79px;height: 35px;display: inline;float: left;}
.menuhdr4{z-index: 10001;position: relative;display: none;margin-top: -1px;}
.menhdr4panel{position: absolute;left: 0;top: 0;padding: 8px;line-height: normal;border: 1px solid #eee;background-color: #fff;}
.menhdr4panel a{text-decoration: none;color: #6c6c6c;display: block;padding: 0 5px;line-height: 28px;white-space: nowrap;}

#zhongxin:hover{color: #f40;}
.lianxi{width: 67px;height: 35px;display: inline;float: left;}
#kefu:hover{color: #f40;}
.wangzhan{width: 96px;height: 35px;display: inline;float: left;}
#daohang:hover{color: #f40;}


/*我的淘宝*/
#headerB{height: 36px;background-color: #ff4401;padding: 12px 0;position: relative;z-index: 5;border-bottom: 1px #e7e7e7 solid;display: block; }
#headerB article{margin: 0 auto;max-width: 1190px;min-width: 860px;}
.Blogo{float: left;position: relative;overflow: hidden;width: 190px;height: 35px;}
.Btblogo{width: 140px;height: 36px;display: inline-block;vertical-align: middle;/*margin-left:90px;*//*background-image: url("../images/mytaobao.png");background-repeat: no-repeat;background-position: left center;*/}
.Btblogo img{width: 140px;height: 36px;}

.Bnav{float: right;width: 981px;height: 50px;display: block;}
#B_MainNav li{position: relative;float: left;cursor: pointer;z-index:1;height: 50px;font: 400 14px/36px tahoma;}
#B_MainNav li a{text-decoration: none;display: block;text-align: center;padding: 0 25px;color: #fff;}
.B_NavSubTrigger a{text-decoration: none;display: block;text-align: center;padding: 0 25px;color: #fff;}
.B_NavSubTrigger a i{position: absolute;width: 6px;height: 6px;top: 16px;right:12px;font-style: italic;}
.B_nav_parent i em{top: 2px;border-top-color: #fff;position: absolute;width: 0;height: 0;left: 0;border-color: rgba(255,255,255,0);border-style: solid;overflow: hidden;border-width: 3px 3px 0;font-style: normal;font-weight: normal;}
.B_nav_parent i s{border-top-color: #ff4401;position: absolute;width: 0;height: 0;left: 0;top: 0;border-color: rgba(255,255,255,0);border-style: solid;overflow: hidden;border-width: 3px 3px 0;text-decoration: line-through;font-style: italic;}

.search{}
.search-panel{width: 322px;float: right;background: #fff;height: 27px;margin-top: 4px;position: relative;zoom:1;}
.search-panel-focused{}
.search-button{position: relative;z-index: 1;float: right;background-color: #fff;width: 72px;height: 27px;}
.btn-search{text-indent: 0;font-size: 12px;color:#666;background-color: #f5f5f5;height: 27px;width: 72px;border-left: 1px solid #d9d9d9;}
.btn-search:hover{color: black;}
.search-panel-fields{height: 27px;margin-right: 0;background: #f50;position: relative;zoom:1;overflow: hidden;width: 250px;height: 27px;}
.search-combobox{margin-left: 0;font-size: 12px;margin-right: 0;}
.search-combobox-input-wrap{height: 27px;position: relative;overflow: hidden;vertical-align: middle;}
.search-combobox-input-wrap input{border-top: 0;padding-top: 5px;background-position: 0 -40px;background-color: #fff;width: 250px;height: 27px;}

/*购物内容*/
#content{width: 990px;margin: 0 auto;padding: 0;}
#mytaobao_panel{width: 990px;height: 3594px;top: -2px;position: relative;clear: both;}

/*内容的右侧*/
.col_main{padding-bottom: 0;min-height: 1px;float: left;width: 990px;padding-top: 25px;transition: all ease-in-out .15s;background: #fff;}

/*内容的左侧*/
.col_sub{width: 110px;overflow: hidden;float: left;margin-left: -990px;min-height: 1px;padding-top: 25px;}
.mt_menu{width: 110px;display: block;}
.mt-menu-tree{overflow: inherit;margin-top: -5px;font-size: 12px;padding-left: 3px;}
.mt-menu-item{display: block;margin-top: 6px;}
.mt-menu-item dt{font-size: 15px;line-height: 28px;margin: 5px 10px 1px 0;color: #f40;}
.mt-menu-item dd{list-style: none;}
.mt-menu-item a{display: block;overflow: hidden;text-decoration: none;line-height: 28px;color: #3c3c3c;height: 28px;}
.mt-menu-sub{position: relative;list-style: none;}
.mt-indicator{background-repeat: no-repeat;background-image: url("../images/iconsbase.png");background-position: 0 -68px;position: absolute;overflow: hidden;cursor: pointer;line-height: 100px;top: -1px;right: 15px;width: 12px;height: 12px;margin: 9px 0 0;font-weight: bold;list-style: none;}
#bought{color: #f40;display: block;overflow: hidden;text-decoration: none;line-height: 28px;height: 28px;}
.mt-menu-sub-content{padding-left: 8px;}
.cont1{display: none;}
.mt-menu-sub-content li{height: 27px;}
.mt-menu-sub-content li a{background-image: none;display: block;overflow: hidden;text-decoration: none;line-height: 28px;color: #3c3c3c;height: 28px;}
#boughtShop{list-style: none;}
#mt-menu-sub{list-style: none;position: relative;}
.mt-indicator2{background-position:0 -68px;background-image: url("../images/iconsbase.png");background-repeat: no-repeat;position: absolute;overflow: hidden;cursor: pointer;line-height: 100px;top: -1px;right: 15px;width: 12px;height: 12px;margin: 9px 0 0;font-weight: bold;list-style: none;}
.icon-new{display: inline-block;position: relative;top: 1px;width: 25px;height: 11px;margin-left: 7px;background-position: 0 -116px;background-image: url("../images/iconsbase.png");background-repeat: no-repeat;font-style: italic;}



/*内容底部的广告*/
#content_bottom{width: 990px;overflow: hidden;}