*{margin: 0;padding: 0;}
ul,li{list-style:none;}
img{border:0;}
body{font-size: 12px;font-family: "microsoft yahei";}

.wrapper{margin: 0;padding: 0;height: 800px;position: relative;}
.header{z-index: 1000;position: relative;width: 926px;margin: 0 auto;width: 926px;height: 120px;}
.logo{float: left;width: 185px;height: 120px;display: block;font-size: 2em;}
.logo a{display: block;height: 100px;background-position: right -41px;text-indent: -9999px;background-image: url("../images/sprite_icons2.png");background-repeat: no-repeat;text-decoration: none;}
.navigation{float: left;width: auto;margin-left: 50px;padding-top: 20px;line-height: 21px;list-style: none;}
.nav-item{position: relative;float: left;display: list-item;text-align: -webkit-match-parent;}
.main-link{float: left;height: 19px;background-image: url("../images/main_menu_bg.png");background-repeat:no-repeat;margin-right: 10px;text-decoration: none;} 
.homecurrent{width: 37px;background-position: 0px -19px;}
.service{width: 61px;background-position: 0px -38px;}
.activity{width: 61px;background-position: 0px -76px;}
.about{width: 61px;background-position: 0px -114px;}
.retailer{width: 46px;background-position: 0px -190px;}
.search{width: 37px;background-position: 0px -228px;}
.tianmao{width: 61px;background-position: 0px -266px;}
.fn-hide{display: none;top: 18px;position: absolute;width: 200px;left: -60px;background: #000;z-index: 100;opacity: 0.8;padding: 15px 10px 60px 10px;border-radius: 10px;z-index: 100;}
.fn-hide ul{border-top: 1px solid #df101d;padding-top: 8px;list-style: none;}
.fn-hide ul a{display: block;color: #fff;height: 20px;padding-left: 5px;line-height: 20px;text-decoration: none;cursor: auto;text-align: -webkit-match-parent;}
.fn-hide ul li:hover{background-color: #df101d;}

.product-nav{float: left;width: 530px;margin: 10px 0 0 50px;}
.second-spacer{float: left;width: 19px;height: 36px;background-image: url("../images/spacer.png");background-repeat: no-repeat;}
.second-link{text-decoration: none;} 
.main-links{float: left;background-image: url("../images/second_menu_bg.png");background-repeat: no-repeat;height: 36px;} 
.LIGHTERS{width: 105px;background-position: 0px 0px;}
.OUTDOOR{width: 101px;background-position: 0px -72px;}
.LIFESTYLE{width: 114px;background-position: 0px -144px;}
.HOMES{width: 67px;background-position: 0px -216px;}

.content{margin-bottom: 60px;position: relative;z-index: 10;min-height: 500px;width: 960px;margin: 0 auto;color: #fff;}
.homeCallouts{display: block;margin: 30px 0 0 26px;height: 300px;list-style: none;}
.fn-clear{background: none;zoom: 1;list-style: none;} 
.show-wrap{margin-bottom: 70px;width: 960px;height: 280px;}
.show-wrap li{position: relative;}
.lighter-item{width: 507px;padding: 0;margin: auto;background: none;height: 280px;float: left;}
.lighter-item a{margin: auto;left: auto;bottom: auto;font-size: 14px;color: #d10;display: block;text-decoration: none;cursor: auto;}
.lighter-item a img{position: absolute;border: 0;text-decoration: none;}

.multi-item{padding: 0;margin: auto;margin-left: 10px;width: 208px;background: none;float: left;height: 280px;cursor: pointer;position: absolute;}
.multi-item a{margin: auto;left: auto;bottom: auto;font-size: 14px;color: #d10;position: absolute;text-decoration: none;}
.multi-item a img{position: absolute;border: 0;text-decoration: none;}

.bulletin-item{padding: 0;margin: auto;margin-left: 10px;width: 202px;background: none;float: left;height: 280px;cursor: pointer;position: absolute;}
.bulletin-item a{margin: auto;left: auto;bottom: auto;font-size: 14px;color: #d10;position: absolute;text-decoration: none;}
.bulletin-item a img{position: absolute;border: 0;text-decoration: none;}





/*底部*/
.footer{width: 100%;position: fixed;bottom: -1px;left: 0;height: 70px;z-index: 100;background-image: url("../images/bg_footer.png");background-repeat: repeat-x;background-position: 0 0;}
.grid990{width: 990px;margin: 0 auto;} 
.fn-clear{zoom: 1;}
.grid990 ul{list-style: none;}
.copyright{float: left;height: 40px;padding-left: 100px;margin-top: 25px;width: 230px;background-position: 0 -485px;background-image: url("../images/sprite_icons2.png");background-repeat: no-repeat;}
.copyright li{line-height: 14px;height: 14px;color: #666;}
.copyright li a{color: #666;text-decoration: none;cursor: auto;}

.links{float: left;margin-top: 13px;}
.links li{float: left;margin: 0;padding: 0;display: list-item;text-align: -webkit-match-parent;}
.links li a{display: block;border-left: 1px solid #333;margin-left: 10px;padding-left: 10px;height: 58px;color: #626262;line-height: 58px;text-decoration: none;}
.zippo-encode{background-image: url("../images/sprite_icons2.png");background-repeat: no-repeat;background-position: -186px -43px;display: block;border-left: 1px solid #333;margin-left: 10px;padding-left: 10px;height: 58px;color: #626262;line-height: 58px;width: 43px;}
.weibo{text-indent: -9999px;background-image: url("../images/sprite_icons2.png");background-repeat: no-repeat;background-position: -69px -542px;width: 86px;}


/*背景图片*/
.slide{display: block;width: 1349px;height: 800px;overflow: hidden;position: absolute;top: 0;left: 0;z-index: 1;}
.homeSlide{left: 0;/*background-image: url("../images/1.jpg");*/background-repeat: no-repeat;background-position: 50% 0%;z-index: 1;background-size: cover!important;position: absolute;top: 0;width: 100%;height: 100%;overflow: hidden;}
.h1{background-image: url("../images/1.jpg");}
.h2{background-image: url("../images/2.jpg");}
.h3{background-image: url("../images/3.jpg");}
.h4{background-image: url("../images/4.jpg");}
.h5{background-image: url("../images/5.jpg");}


.prevslide{background-image: url("../images/sprite_icons2.png");background-position: -8px -41px;height: 102px;left: 0;margin-top: -72px;position: absolute;top: 50%;width: 27px;z-index: 100;text-decoration: none;cursor: auto;}
.nextslide{background-image: url("../images/sprite_icons2.png");background-position:-35px -41px;height: 102px;margin-top: -72px;position: absolute;right: 0;top: 50%;width: 27px;z-index: 100;}
