*{margin: 0;padding: 0;}
ul,li{list-style:none;}
img{border:0;}
body{font-size: 9pt;font-family: Tahoma,Verdana,STHeiTi,simsun,sans-serif;}



/*标题*/
#header{}
#navBar{}
.site-nav{background-image: url("../images/bg.png");background-repeat: repeat-x;height: 74px;} 
.rr{}
.navigation-wrapper{width: 980px;margin: 0 auto;}
.navigation{} 
.navigation-new{} 
.clearfix{display: block;}
#logo2{float: left;height: 72px;margin-right: 35px;}
#logo2 h1{font-size: 100%;font-weight: normal;}
#logo2 a{outline: 0;display: block;color: #005EAC;text-decoration: none;}
#logo2 img{display: block;border: 0;}
.nav-body{} 
.nav-title{float:left;background-image: url("../images/slogan.png");background-repeat: no-repeat;width: 342px;height: 24px;margin-top: 25px;text-indent: -9999em;}
.nav-body h2{font-size: 100%;font-weight: normal;}
.nav-other{float: right;margin-top: 25px;}
.menu{float: left;margin: 0;position: relative;z-index: 10005;zoom:1;}
.menu a{padding: 0 10px;height: 24px;line-height: 24px;display: inline-block;color: #CEE1EE;text-decoration: none;}
.show-more{background-position: right 10px;padding-right: 18px;background-image: url("../images/ico_new.png");background-repeat: no-repeat;width: 32px;}




/*内容*/
#opi{width: 1349px;height: 716px;}
.page-wrapper{} 
.clearfix{}
.full-page-holder{width: 1349px;height: 696px;}
.full-page{}
.login-page{margin: 0 auto 20px;width: 980px;height: 696px;}
.side-column{float: left;width: 220px;margin-right: 35px;border: 1px solid #D4D4D4;border-bottom-color: #AAA;border-top: 0;height: 692px;box-shadow: 0 1px 1px #CCC;margin-top: -2px;position: relative;background-color: #ebf2fa;}
.login-panel{}
.login-form{padding: 35px 15px 15px 15px;}
.login-form dl{line-height: 20px;position: relative;}

.top{width: 190px;height: 36px;}
.top dt{display: block;}
.top label{left: 4px;position: absolute;top:4px;z-index: 2;background-image: url("../images/ico_new.png");background-repeat: no-repeat;background-position: 8px -84px;text-indent: -9999em;width: 25px;height: 25px;cursor: default;}
.top dd{position: relative;width: 186px;background-image: url("../images/bg.png");background-repeat: no-repeat;background-position: 0 -76px;border:1px solid #adb6c9;border-radius: 3px;height: 32px;box-shadow: 0 0 1px #fff;padding: 1px;}
.top input{background-color: transparent;font-size: 14px;height: 32px;padding: 0;margin: 0 0 0 30px;width: 155px;border:0;}

.pwd{width: 190px;height: 36px;}
.pwd dt{display: block;}
.pwd label{top:4px;left: 4px;position: absolute;z-index: 2;background-image:url("../images/ico_new.png");background-repeat: no-repeat;background-position:6px -112px;text-indent: -9999em;width: 25px;height: 25px;cursor: default; }
.pwd dd{position: relative;width: 186px;background-image: url("../images/bg.png");background-repeat: no-repeat;background-position: 0 -76px;border:1px solid #adb6c9;border-radius: 3px;height: 32px;box-shadow: 0 0 1px #fff;padding: 1px;}
.pwd input{background-color: transparent;font-size: 14px;height: 32px;padding: 0;margin: 0 0 0 30px;width: 155px;border:0;}

.savepassword{margin: 5px 0;line-height: 20px;position: relative;width: 190px;height: 27px;}
.labelCheckbox{font-weight: normal;color: #333;float: left;font-size: 12px;line-height: 27px;cursor: default;}
.labelCheckbox input{margin-right: 5px ;width:13px;vertical-align: middle;}
#getpassword{float: right;margin-top: 3px;line-height: 20px;color:#005eac ;text-decoration: none;}
#getpassword a{color:#005eac ;text-decoration: none;}
#getpassword a:hover{text-decoration: underline;}

.bottom{width: 190px;height: 41px;}
#login{margin-top: 3px;padding: 0 0 3px 0;}
.login-btn{width: 190px;height: 38px;text-indent: -9999em;border: 0;background-image: url("../images/btn.png");background-repeat: no-repeat;cursor: pointer;background-position: 0 0 ;}

.regnow{margin: 0 15px;padding: 17px 0 15px;background-image: url("../images/border.png");background-repeat: repeat-x;background-position: left top;}
#regnow{background-position: 0 -38px;border: 0;padding: 0 0 3px 0;color: #fff;background-color: #005eac;border-top: 1px solid #b8d4e8;border-left: 1px solid #b8d4e8;border-right: 1px solid #114680;border-bottom: 1px solid #114680;cursor: pointer;}
.login-btn{width: 190px;height: 38px;text-indent: -9999em;border: 0;background-image: url("../images/btn.png");background-repeat: no-repeat;cursor: pointer;background-position: 0 0 ;}


.newStudentReg{padding: 17px 0 15px;margin: 0 15px 0 13px;}
#newStudentReg{background-image: url("../images/student-enter.png");background-repeat: no-repeat;padding: 0 0 3px 0;border:0;color: #fff;border-top: 1px solid #b8d4e8;border-left: 1px solid #b8d4e8;border-right: 1px solid #114680;border-bottom: 1px solid #114680;cursor: pointer;}

.login_corp{letter-spacing: -4px;padding:0 15px;}
.login_corp dt{letter-spacing: 0;color: #666;padding-bottom: 10px;}
.login_corp dd{letter-spacing:0;display: inline-block;margin-right: 20px;margin-bottom: 5px;}
#login_msn{background-position: 0 -292px;}
.login_corp  a{padding-left: 22px;display: inline-block;line-height: 16px;background-image: url("../images/ico_new.png");background-repeat: no-repeat;color: #005eac;text-decoration: none;}
#login_360{background-position: 0 -323px;padding-left: 20px;}
#login_tianyi{background-position: 0 -380px;padding-left: 20px;}
#login_list{margin-right: 0;}
#login_baidu{background-position: 0 -416px;padding-left: 22px;margin-top: 5px;background-repeat: no-repeat;background-image: url("../images/icon_new3.png");}
#login_cnmobile{background-image: url("../images/icon_new3.png");background-repeat: no-repeat;background-position: 0 -447px;margin-top: 5px;}


/*内容右边*/
.main-column{float: left;width: 658px;height: 696px;}
#mainRecommend{margin-top: 32px;height: 661px;}
#ad100000000061{}
.side-item-body{border: none!important;}
.figure{position: relative;}
#adpic{}
#adpic a{}

.intro-phone{width: 660px;height: 315px;margin-top: 20px;margin-bottom: 10px;}
.left-area{float: left;width: 267px;display: block;}
.right-area{margin-left: 10px;float: left;width: 383px;display: block;}
.header-title{height: 90px;margin-top: 50px;}

.two-di-code{float: left;display: block;margin-right: 10px;}
.two-di-code a{display: block;width: 77px;height: 78px;background-image: url("../images/two-di-code-new.jpg");background-repeat: no-repeat;}
.big-title{font-size: 24px;font-family: 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;}
.small-title{margin-top: 5px;font-size: 14px;color: #a8a8a8;font-family: 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;}

.follow-area{margin-top: 16px;height: 120px;width: 380px;border-bottom: 1px solid #d6dfe4;}
.two-btn{width: 380px;height: 40px;background-image: url("../images/client-btn.jpg");background-repeat: no-repeat;display: block;float: left;}
.two-btn a{width: 143px;height: 40px;display: block;float: left;}
.android{background-position: 0 0;margin-right: 12px;}
.iphone{background-position: -154px 0;}
.two-btn-more{margin-top: 20px;color: #888;display: block;float: left;padding-left: 20px;height: 20px;}
.more-client{float: left;}
.windows{background-position: 0 -22px;background-repeat: no-repeat;background-image: url("../images/win-sym.jpg");padding-left: 20px;height: 20px;display: block;float: left;color: #005eac;text-decoration: none;}
.windows:hover{text-decoration: underline;}

.more-download{margin-top: 13px;color: #888;}
.more-download a{margin-right: 10px;margin-left: 5px;color: #005eac;text-decoration: none;}
.more-download a:hover{text-decoration: underline;}

.more-intro{text-align: center;margin-bottom: 3px;}
#moreIntro{}
.click-open{background-image: url("../images/ico_new.png");background-repeat: no-repeat;background-position: 420px -28px;display: block;text-align: center;padding: 10px;background-color: #f1f6f9;text-decoration: none;color: #005eac;}
.click-open span{color: #888;}
/*末尾*/
#footer{width: 1349px;height: 191px;}
.site-footer{background-color: #fff;position: relative;width: 980px;margin: 0 auto;border-top: 1px solid #cee1ee;padding-top: 10px;overflow: hidden;height: 180px;}
.main{zoom:1;overflow: hidden;}
.link{}

.haoes{clear: both;color: #888;font-family: tahoma,mingliu;font-size: 11px;padding: 8px;background-color: #f7f7f7;margin-top: 15px;text-align: center;line-height: 25px;}
